.advantages {
  padding-bottom: 0px;

  background-color: getBgColor('primary');
}

.advantages__list {
  @include flexBox();
  gap: $primaryGap;
}

.advantages__wrapper {
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: getBgColor('secondary');
  border-radius: 4px;
}

.advantages__title {
  @include textStyle(map-get($colors, 'title'), inherit, calc(16 / 14));
  text-transform: uppercase;
}

.advantages__text {
  margin-top: 10px;

  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
